<script>
  function updateProduct(product_id, action) {
    $.ajax({
      type: "PATCH",
      url: "/products/" + product_id,
      data: { task: action },
      success: function(result) {
        console.log($("#counter_" + product_id));
        $("#counter_" + product_id).html(result.count);
      },
      error: function(result) {
        console.log(result);
      }
    });
  }

  $( document ).ready(function() {
    $("#product_input").val('');

    $(".add").click(function(e) {
      updateProduct(e.target.id, "add");
    });
    $(".minus").click(function(e) {
      if($("#counter_" + e.target.id).html() > 1 ){
        updateProduct(e.target.id, "remove");
      }
      else{
        $.ajax({
          type: "DELETE",
          url: "/products/" + e.target.id,
          data: {},
          success: function(result) {
            console.log('Completed');
          },
          error: function(result) {
            console.log('Error');
          }
        });
      }
    });
  });
</script>

<input id="product_input">
<button id="add_btn">Add Product</button>
<div id="products">
  <% @products.each_with_index do |product, index| %>
    <div>
      <span><%= product.title %></span>
      <button class="add" id="<%= product.id %>">+</button>
      <span id="counter_<%= product.id %>"><%= product.count %></span>
      <button class="minus" id="<%= product.id %>">-</button>
    </div>
  <% end %>
<div>

<script>
  $("#add_btn").click(() => {
    $.ajax({
      type: "POST",
      url: "/products",
      data: { 
        title: $("#product_input").val(),
      },
      success: function(result) {
        console.log('Completed');
      },
      error: function(result) {
        console.log('Error');
      }
    });
  })
</script>